:root {
  --shadow: 0 3px 7px rgba(0, 0, 0, .4);
  --shadow2: 1px 0 1px rgba(0,0,0,.2);
  --border-radius: 15px;
  --bar-color: white;
  --value-color: #eee;
  --sidebar-width: 0px;
  --dur: .2s;
  --gap: 0;
  --clipPath: inset(0 0 round var(--border-radius) var(--border-radius));
  --elastic-transition: .7s cubic-bezier(1, -1, 0, 1.5);
  --alpha: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--dur);
}

body {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: 100vh;
  grid-gap: var(--gap);
  -webkit-user-select: none;
  user-select: none;
}

main {
  height: 100%;
  width: 100%;
  max-width: 50em;
  max-height: 80em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em calc(68% - 3em - .8em) calc(30%);
  row-gap: .8em;
  padding-bottom: .4rem;
  align-self: center;
  justify-self: center;
}

main > * {
  margin: 0 1em;
}

header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  visibility: hidden;
  animation: slide-from-top .5s .4s;
  animation-fill-mode: forwards;
  position: relative;
}

#sidebar-button {
  height: 45px;
  width: 45px;
  margin: 0 10px; 
  border: 2px solid var(--value-color);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  transition: var(--elastic-transition);
}

#sidebar-button div {
  width: 30px;
  border-bottom: 4px solid #555;
  margin: 1.5px auto;
  transition: var(--elastic-transition);
}

#sidebar-button.bars {
  border-left: 1px solid #fff;
}

.bars div:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.bars div:nth-child(2) {
  opacity: 0;
  transform: translateX(-300%);
}

.bars div:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

#current-theme-color {
  margin: 0 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: 800;
  color: var(--value-color);
  text-transform: uppercase;
  text-shadow: var(--shadow2);
}

#progress-bars-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: inset var(--shadow);
  visibility: hidden;
  animation: slide-from-top .4s .25s;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2.4em;
  box-shadow: var(--shadow);
  margin: 5px 0;
  border: 0;
  color: var(--value-color);
  background: var(--bar-color);
  border-radius: var(--border-radius);
}

progress::-webkit-progress-bar {
  background: var(--bar-color);
  border-radius: var(--border-radius);
  transition: var(--dur);
}

progress::-webkit-progress-value {
  background: var(--value-color);
  border-radius: var(--border-radius);
  transition: var(--dur);
  box-shadow: var(--shadow2);
}

progress::-moz-progress-bar {
  background: var(--value-color);
  border-radius: var(--border-radius);
  transition: var(--dur);
}

#container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  visibility: hidden;
  animation: slide-from-top .5s;
  animation-fill-mode: forwards;
  position: relative;
  margin-bottom: 5px;
}

#container div {
  width: 100%;
  height: 50%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

#container div .theme-buttons {
  flex-basis: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 0 5px;
}

#container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--value-color);
  clip-path: var(--clipPath);
  transition: var(--dur) ease-out;
  opacity: var(--alpha);
  z-index: 2;
}


@keyframes slide-from-top {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    visibility: visible;
  }
}

#sidebar {
  overflow-y: auto;
  width: 100%;
  box-shadow: var(--shadow);
  margin: 8px;
  border-radius: 30px;
  width: 0;
}

.theme-buttons {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: var(--shadow);
  margin: 14px auto;
}

.active {
  border: 2px solid #555;
  transform: scale(1.1);
}

.sub-active {
  
}